<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "facileflix.giffpatch.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>[facileflix]</name>

    <description>
        See what our films look like
    </description>

    <author href="http://scratch.mit.edu/users/[facileflix]" email="[facileflixmovies@gmail.com]">
        [giffpatch]
    </author>

</widget>
